div {
  margin-bottom: 1rem;
  text-transform: uppercase;

  a {
    color: #8ea6bd;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #333;
      transition: all 0.2s ease-in-out;
    }
  }
}
