<div class="user-profile-form">
  <form [formGroup]="password">
    <div>
      <h2>
        Change my password
      </h2>

      <label>
        Old password

        <input type="password" autocomplete="false" formControlName="old" />

        <div class="error" *ngIf="displayPasswordError('old')">
          Please enter your old password.
        </div>
      </label>

      <label>
        New password

        <input type="password" autocomplete="false" formControlName="new" />

        <div class="error" *ngIf="displayPasswordError('new')">
          Please enter a new password.
        </div>
      </label>

      <label>
        Confirm password

        <input type="password" autocomplete="false" formControlName="confirmed" />

        <div class="error" *ngIf="displayPasswordError('confirmed')">
          Please confirm your new password.
        </div>
      </label>
    </div>

    <div [class]="feedback.success ? 'info' : 'error'" *ngIf="feedback">
      {{ feedback.message }}
    </div>

    <div class="user-profile-form__submit">
      <div>
        <button type="button" class="button" (click)="updatePassword()">
          Update password
        </button>
        <a class="button--cancel" (click)="resetForm()">
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
