<div class="list-exercise">
  <div>
    <a [routerLink]="['../exercises', tab.$key]">
      <div class="gif">
        <img src="assets/img/drums/drums.png"
             alt="Drums photo">
      </div>

      <div class="content"
           [style.borderTop]="'4px solid ' + tab.typeObject?.color">
        {{ tab.name }}
      </div>
    </a>
    <div class="buttons">
      <a (click)="assignExercise()">
        <mat-icon>add</mat-icon> Assign to a session
      </a>
    </div>
  </div>

  <app-exercise-assign
    *ngIf="assignOpen"
    [sessions]="sessions"
    [tab]="tab"
    (update)="onUpdate($event)"
    (cancel)="onCancel()">
  </app-exercise-assign>
</div>
