<div class="about" [@fade]>
  <div class="wrapper">
    <div class="about__title">
      <h1>
        <mat-icon>info</mat-icon>
        About & Legals
      </h1>
    </div>

    <div class="about__content">
      <div>
        <h2>
          About
        </h2>

        <p>
          Hey! <a href="https://mariefoussette.dev" target="_blank">Marie</a> here. I'm the one who
          developed and designed this app.
        </p>

        <p>
          I started learning drums in 2017 and quickly became tired of preparing my rudiment
          practice sessions on paper. That's when I decided to develop Troubadour. It was also a
          good opportunity to have fun technology-wise.
        </p>

        <p>
          Troubadour was made with:
        </p>

        <div class="externals">
          <a href="https://angular.io/" target="_blank">
            <img src="assets/img/externals/angular.svg" alt="Angular" />
          </a>

          <a href="https://firebase.google.com/" target="_blank">
            <img src="assets/img/externals/firebase.svg" alt="Firebase" />
          </a>

          <a href="https://karma-runner.github.io" target="_blank">
            <img src="assets/img/externals/karma.svg" alt="Karma" />
          </a>

          <a href="https://jasmine.github.io/" target="_blank">
            <img src="assets/img/externals/jasmine.svg" alt="Jasmine" />
          </a>

          <a href="https://rxjs-dev.firebaseapp.com/" target="_blank">
            <img src="assets/img/externals/rxjs.svg" alt="RxJS" />
          </a>

          <a href="https://ngrx.io/" target="_blank">
            <img src="assets/img/externals/ngrx.svg" alt="RxJS" />
          </a>

          <a href="https://www.typescriptlang.org/" target="_blank">
            <img src="assets/img/externals/typescript.svg" alt="TypeScript" />
          </a>

          <a href="https://sass-lang.com/" target="_blank">
            <img src="assets/img/externals/sass.svg" alt="SaSS" />
          </a>
        </div>
      </div>
    </div>

    <div class="about__content">
      <h2>
        Terms of use
      </h2>

      <div>
        <div>
          <h3>
            tldr;
          </h3>

          <p>
            We use <b>Firebase</b> for authentication and data storage. We also use <b>Sentry</b> to
            get automatic feedback in case of bugs. Your data are not used outside of this
            application, Firebase and. We do not sell your personal data. The only data we collect
            are used to improve the app and fix bugs.
          </p>
        </div>

        <div>
          <h3>
            Collection and use of personal data
          </h3>

          <p>
            Personal information will be requested only in cases where such information is necessary
            to identify you or contact you. Typically, this is done in cases where it is necessary
            to register to receive a service, such as leave feedback or join a discussion. Personal
            information is collected to access value-added services.
          </p>
          <p>
            Troubadour may disclose personal information only if required by law or where there is a
            firm belief that such action is necessary to:
          </p>
          <ul>
            <li>(1) comply with legal regulations</li>
            <li>(2) protect and defend the rights or property of Troubadour</li>
          </ul>
        </div>

        <div>
          <h3>
            Access to personal information
          </h3>

          <p>
            The personal information you provide to Troubadour for recording, or for other purposes
            are not shared with third parties without the express permission of the user, except in
            limited cases described above. Personal information will always be used for the purposes
            described above. Registration, if necessary, also allows the user to specify whether you
            want to be contacted by Troubadour and how such contact should occur. Troubadour
            provides users with all the tools you need to make sure that personal information is
            accurate and up to date. If you register for services offered by Troubadour, you can
            edit, update or delete your data at any time. You can also contact Troubadour at
            myeris(dot)dev(at)gmail(dot)com to get an export in a readable format any time.
          </p>
        </div>

        <div>
          <h3>
            Changes to this Privacy Policy
          </h3>

          <p>
            Troubadour reserves the right to modify this document. If we use your personal
            information other than specified in the legal information provided at the time of data
            collection, users will be informed through messages posted by Troubadour.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
