<div class="exercise-display">
  <div class="wrapper">
    <div class="exercise-display__details">
      <div class="detail">
        <app-svg-icon name="Type" path="assets/img/drums/library.svg"></app-svg-icon>
        {{ tab.type | capitalize }}
      </div>

      <div class="detail">
        <app-svg-icon name="Snare icon" path="assets/img/drums/snare.svg"></app-svg-icon>
        {{ tab.drumkit ? 'Drumkit required' : 'No drumkit required' }}
      </div>

      <div
        class="detail"
        title="To set a high score, hit Practice this exercise and choose the Road to failure option"
      >
        <mat-icon>star</mat-icon>
        {{
          highscore
            ? highscore.highscore + 'bpm (' + (highscore.date | date: 'dd/MM/yyyy') + ')'
            : 'No high score yet'
        }}
      </div>
    </div>

    <app-tab-display [exercise]="exercise"></app-tab-display>

    <div class="exercise-display__button">
      <a [class]="playing ? 'stop' : 'play'" (click)="playing ? stop() : play()">
        <mat-icon *ngIf="!playing">play_arrow</mat-icon>
        <mat-icon *ngIf="playing">stop</mat-icon>
        <span>{{ playing ? 'Stop' : 'Listen' }}</span>
      </a>

      <a
        [class]="'practice' + (playing ? ' disabled' : '')"
        (click)="playing ? '' : (showPracticeForm = !showPracticeForm)"
      >
        <app-svg-icon name="Drumsticks icon" path="assets/img/drums/drumsticks.svg"></app-svg-icon>
        <span>Practice this exercise</span>
      </a>
    </div>

    <app-exercise-practice-form
      class="form"
      *ngIf="showPracticeForm"
      (submitted)="onSubmit($event)"
      (cancelled)="onCancel()"
    >
    </app-exercise-practice-form>

    <app-to-failure-result
      class="form"
      *ngIf="showToFailureResult"
      [bpm]="lastBpm"
      (highscored)="saveHighscore($event)"
      (cancelled)="onCancel()"
    >
    </app-to-failure-result>
  </div>
</div>
