<div>
  <a [routerLink]="['/practice-sessions']" routerLinkActive="active">
    <app-svg-icon name="Drumsticks icon" path="assets/img/drums/drumsticks.svg"></app-svg-icon>
    <span>Sessions</span>
  </a>
  <a [routerLink]="['/exercises']" routerLinkActive="active">
    <app-svg-icon name="Exercises" path="assets/img/drums/library.svg"></app-svg-icon>
    <span>Exercises</span>
  </a>
  <a [routerLink]="['/metronome']" routerLinkActive="active">
    <app-svg-icon name="Metronome" path="assets/img/drums/metronome.svg"></app-svg-icon>
    <span>Metronome</span>
  </a>
</div>
