<app-auth-header></app-auth-header>

<div class="auth-form">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>
      Reset your password
    </h1>

    <label>
      <input
        type="email"
        placeholder="Email address"
        formControlName="email">
    </label>

    <div class="error"
         *ngIf="emailFormat">
      Invalid email format
    </div>

    <div
      *ngIf="feedback"
      [class]="feedback.success ? 'info' : 'error'">
      {{ feedback.message }}
    </div>

    <div class="auth-form__action">
      <button type="submit">
        Reset password
      </button>
    </div>

    <div class="auth-form__toggle">
      <a [routerLink]="['/auth/login']">
        Login
      </a>
    </div>
  </form>
</div>

<app-auth-footer></app-auth-footer>
