<div id="reset" [@fade]>
  <app-auth-header></app-auth-header>

  <div class="auth-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <h1>
        Reset your password
      </h1>

      <label>
        <input formControlName="email" placeholder="Email address" type="email" />
      </label>

      <div *ngIf="emailFormat" class="error">
        Invalid email format
      </div>

      <div *ngIf="feedback$ | async" [class]="(feedback$ | async)?.success ? 'info' : 'error'">
        {{ (feedback$ | async)?.message }}
      </div>

      <div class="auth-form__action">
        <button [disabled]="emailFormat" type="submit">
          Reset password
        </button>
      </div>

      <div class="auth-form__toggle">
        <a [routerLink]="['/auth/login']">
          Login
        </a>
      </div>
    </form>
  </div>

  <app-auth-footer></app-auth-footer>
</div>
