%button {
  outline: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.confirm,
.cancel {
  @extend %button;
  padding: 5px 10px;
  margin: 0 0 0 5px;
  font-size: 14px;
}

.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #e4b3b3;
  border-radius: 2px;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0;
}

.confirm {
  color: #fff;
  background: #d73a49;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken(#d73a49, 10%);
    transition: all 0.2s ease-in-out;
  }
}

.user-profile-form {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: 1rem 2rem;

  &__delete {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.5rem 0;

    > div {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }
    .cancel {
      margin: 0 20px 0 0;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .button {
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0.2rem;
    background: #39a1e7;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: inline-block;

    &:hover {
      background: darken(#39a1e7, 10%);
      transition: all 0.2s ease-in-out;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &--cancel {
      background: #fff;
      color: #545e6f;
      margin-left: 1rem;

      &:hover {
        background: #fff;
        transition: all 0.2s ease-in-out;
      }
    }

    &--delete {
      background: #d73a49;
      align-self: flex-start;

      &:hover {
        background: darken(#d73a49, 10%);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
