#exercise {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}
.exercise {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 5rem;

  &__title {
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0.5rem 2rem;

    h1 {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      font-size: 1.25rem;
      text-transform: uppercase;

      app-svg-icon {
        margin: 0 0.5rem 0 0;
      }
    }

    .assign {
      display: flex;
      align-items: center;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      img {
        height: 1rem !important;
        margin-left: 1rem !important;
      }

      &:hover {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;

  img {
    margin: 0 0.5rem 0 0;
    height: 1rem;
  }
}
