<app-auth-header></app-auth-header>


<app-auth-form (submitted)="loginUser($event)">
  <h1>
    Login
  </h1>

  <a [routerLink]="['/auth/register']">
    Not registered
  </a>

  <button type="submit">
    Login
  </button>

  <div class="error" *ngIf="error">
    {{ error }}

    <a
      *ngIf="showEmailVerificationButton"
      (click)="resendVerificationEmail()">
      Resend the verification email?
    </a>
  </div>

  <div class="reset">
    <a [routerLink]="['/auth/reset-password']">
      Forgot your password?
    </a>
  </div>
</app-auth-form>
<p>
  login works!
</p>
