.exercise-practice-form {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 1.1rem;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    background: #f6fafd;
    border-bottom: 1px solid #c1cedb;
    width: 100%;
    text-align: center;
  }

  &__content {
    padding: 1rem 2rem;

    &__options {
      display: flex;
      margin-bottom: 1.5rem;

      label {
        padding-right: 2rem;
      }
    }

    &__forms {
      margin-top: 1rem;

      sound-options {
        margin-top: 1rem;
        display: block;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      .button {
        cursor: pointer;
        outline: 0;
        border: 0;
        border-radius: 0.2rem;
        background: #39a1e7;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        display: inline-block;

        &:hover {
          background: darken(#39a1e7, 5%);
        }

        &:disabled {
          opacity: 0.4;
          cursor: not-allowed;
        }

        &--cancel {
          background: #fff;
          color: #545e6f;

          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
}
