<div class="exercise-practice-form">
  <div class="exercise-practice-form__title">
    Practice this exercise
  </div>

  <div class="exercise-practice-form__content">
    <div class="exercise-practice-form__content__options">
      <label>
        <input type="radio" name="practiceType" (click)="toggleForm('bpmDuration')" /> BPM &
        Duration
      </label>
      <label>
        <input type="radio" name="practiceType" (click)="toggleForm('bpmScale')" /> BPM scale
      </label>
      <label>
        <input type="radio" name="practiceType" (click)="toggleForm('toFailure')" /> Road to failure
      </label>
    </div>

    <div class="exercise-practice-form__content__forms">
      <app-bpm-duration-form
        *ngIf="showForms.bpmDuration"
        (submitted)="onFormValueChange('bpmDuration', $event)"
      >
      </app-bpm-duration-form>

      <app-bpm-scale-form
        *ngIf="showForms.bpmScale"
        (submitted)="onFormValueChange('bpmScale', $event)"
      >
      </app-bpm-scale-form>

      <app-to-failure-form
        *ngIf="showForms.toFailure"
        (submitted)="onFormValueChange('toFailure', $event)"
      >
      </app-to-failure-form>

      <app-sound-options
        *ngIf="showSoundOptions"
        [initValue]="form.get('soundOptions')"
        (submitted)="onSoundOptionsChange($event)"
        (invalid)="onFormValueChange('soundOptions', $event)"
      >
      </app-sound-options>
    </div>

    <div class="exercise-practice-form__content__buttons">
      <div>
        <button type="button" class="button" [disabled]="isButtonDisabled()" (click)="submit()">
          Practice!
        </button>

        <button type="button" class="button button--cancel" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
